# Source ~/.zshrc
alias sc="source $HOME/.zshrc"

# Lua
alias lua='lua-5.1'

# Open file in nvim after search with fzf
alias fn='nvim $(fzf)'

# Golang: Gofmt files recursively and save.
alias gf='gofmt -l -s -w .'

# Golang: build for debugging and run
alias gd='goDebug(){ go build -gcflags="all=-N -l" -o="$1" "$2"; "$1"; }; goDebug'

# Get to directory by fzf
alias cdf='cd $(find * -type d | fzf)'

#----#
# GO #
#----#

# linter
alias goli='golangci-lint run'

# profiling
alias gprofp='goProfile(){ go tool pprof -http=:8123 http:127.0.0.1:"$1"/debug/pprof/profile }; goProfile'
alias gprofh='goProfileHeap(){ go tool pprof -http=:8123 http:127.0.0.1:"$1"/debug/pprof/heap }; goProfileHeap'

# test coverage
alias gcover='cover(){ t="/tmp/go-cover.tmp" ; go test -coverprofile=$t ./... ; go tool cover -html=$t ; unlink $t}; cover'

#------------------------------------------------------------------------------
# Scripts
#------------------------------------------------------------------------------

# Interactive Ripgrep
alias rfn='bash $HOME/.scripts/rfn'

# Tmux: standard session
alias ses='bash $HOME/.scripts/newsess'
